.button {
    height: auto;
    padding: 15px 30px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff; 
    background-color: #31C48D; 
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #31C48D;
    color: #fff; 
}

.button:active {
    background-color: #31C48D;
    box-shadow: 0 3px #666; 
    transform: translateY(4px); 
    color: #fff; 
}
